
body {
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;
	background: #777;
}

header {
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
	padding: 5%;
	border: 20px;
	background-color: #deceda;
}

.container {
	margin-top: 15px;
}

.nav-container {
	background-color: #deceda;
	text-align: center;
	padding: 5%;
	margin-bottom: 15px;
}

.text {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
}

#section-container {
	text-align: center;
	padding: 5%;
	background-color: #deceda;
	height: 215px;
	width: 40%;
	margin-right:10px;
	margin-bottom: 10px;
	float: left;
}

.article-container {
	text-align: center;
	padding: 5%;
	background-color: #777;
}

.nav-container {
	background-color: #deceda;
	text-align: center;
	padding: 5%;
	margin-bottom: 15px;
}

.aside-container {
	text-align: center;
	padding: 5%;
	background-color: blue;
	height:215px;
	width: 38%;
	display: inline-block;
}


.footer-container {
	text-align: center;
	padding: 5%;
	background-color: #deceda;
	margin-top: 15px;
}